@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --primarycolor: hsl(225, 50%, 48%);
    --secondarycolor: hsl(180, 17%, 95%);
    --colorone: hsl(15, 74%, 70%);
    --colortwo: hsl(28, 100%, 82%);
    --hovercolor: hsl(225, 56%, 59%);
    --whitecolor: hsl(0, 0%, 100%);
    --blackcolor: hsl(0, 0%, 12%);
    --textcolor: hsl(240, 1%, 48%);
    --bordercolor: hsl(0, 0%, 83%);
    --whitecolordeam: hsl(0, 0%, 93%);
    --greybg: hsl(0, 0%, 96%);
    --greytext: rgb(145, 145, 145);
    --inputcolor: hsl(330, 12%, 97%);
    --boxshadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    --transition: .4s ease-in-out;
}

body {
    background: var(--whitecolor);
}

a {
    text-decoration: none;
}

li {
    list-style: style none;
    cursor: pointer;
}

.section {
    padding: 4rem 0 2rem;
}

.container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.icon {
    font: size 1.3rem;
    cursor: pointer;
}

.none {
    display: none;
}

.flex {
    display: flex;
    align-items: center;
}

.grid {
    display: grid;
    align-items: center;
}

.btn {
    padding: .7rem 1.5rem;
    border: none;
    outline: none;
    border-radius: 3rem;
    background: var(--primarycolor);
    cursor: pointer;
    color: var(--whitecolor);
    a {
        color: var(--whitecolor);
        font-weight: 500;
    }
    &:hover {
        background: var(--hovercolor);
    }
}

img,
video {
    width: 100%;
    height: auto;
}

input {
    font-size: 100%;
    color: var(--greytext);
}

p {
    font-size: 13px;
    color: var(--greytext);
    line-height: 22px;
}

h4 {
    padding: 1rem 0;
    font-weight: 700;
    color: var(--blackcolor);
}

h2 {
    font-size: 25px;
    padding: 1rem 0;
    color: var(--blackcolor);
}

.navBar {
    position: fixed;
    flex-direction: column;
    width: 100%;
    z-index: 1000;
}